body {
  background-color: #f2f2f2;
  color: #fff;
  padding: 0px !important;
}
h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.header {
  height: 200px;
  background-color: #3498db;
}
#product-image img{
  margin-top: 30px;
}
img {
 max-height: 100px !important;
}


#description{
  text-align: center;
  color: #333;
}
.ingredients {
  margin-top: 20px;
}
.ingredients-heading {
  background-color: #34495e !important;
  color: #fff !important;
}
.ingredients-body {
  color: #333 !important;
}
.panel-default>.panel-heading {
  background-color: #fff;
 }
.panel-body{
  color: #333 !important;;
}